
ul.top-menu {
    list-style-type: none;
    margin-top: 20px;
    padding: 0;
    position: fixed;
    top:0;
    width:100%;
} 

ul.top-menu li {
    float:right;
    display:block;
}

li a {
    display: block;
    margin-right:60px;
}

li a:hover {
    background-color: #555;
    color: black;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.center {
    margin: auto;
    width: 30%;
    border: 0px;
    padding: 15px;
}

textarea {
    width: 30%;
    display:block;
    margin-left:auto;
    margin-right:auto;
    height: 40px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f8f8f8;
    resize: none;
}

.buttonHolder {
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}

ul.footer-left {
    list-style-type:none;
    float:left;
}

ul.footer-right {
    list-style-type:none;
    float:right;
}

ul.footer-left li {
    display:block;
    float:left;
}

ul.footer-right li {
    display:block;
    float:right;
}
.footer {
    width:100%;
    position:fixed;
    bottom:0;
    background-color: rgb(192, 192, 192);
    border-top: 5px gray;
}